.git
.github
node_modules
.pnpm-store
.corepack

dist
coverage
.astro
.vite
playwright-report
test-results

.env
.env.local
.env.*.local

apps/*/node_modules
apps/*/dist
packages/*/node_modules
packages/*/dist

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile
